@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,300;1,400&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.header {
  width: 100%;
  height: 100px;
  background-color: #000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 20px;
  margin-bottom: 0px;
}
.headerleft {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  align-items: center;
  gap: 20px;
}
.headerright {
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 30px;
  gap: 20px;
  width: fit-content;
}
.menu {
  display: flex;
  font-size: 18px;

  width: 100%;
  gap: 15px;

  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);

  padding: 5px;
  list-style-type: none;
}
.menumobile {
  background-color: #000;
  border-radius: 0 0 50px 50px;
  margin-top: -2px;
  margin: 0 auto 0 auto;
  width: 80%;
  display: none;
  border: none;
  overflow: hidden;
  padding: 0px 30px 10px 30px;
  margin-bottom: 10px;
}

.menumobline {
  border: none;
  background-color: #fff;
  height: 0.5px;
  opacity: 0.6;
  width: 80%;
  margin: 0 auto 0 auto;
}
.menumob {
  display: flex;
  color: #fff;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;

  width: 100%;
  gap: 15px;
  text-align: center;
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);

  padding: 5px;

  list-style-type: none;
}
.menu a,
.menumob a {
  color: #fff;
  text-decoration: none;
}

.footer {
  width: 100%;
  height: 150px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 50px 0 50px;
}
.footer p {
  margin-bottom: 10px;
}
.footer img {
  height: 50px;
  width: 50px;
}
@media screen and (min-width: 1000px) {
  .grip {
    display: none;
  }
  .menumob {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .menu {
    display: none;
  }
  .headerleft,
  .headerright {
    gap: 0;
    font-size: 16px;
    align-items: center;
  }
  .header {
    gap: 5px;
    padding: 0 10px 0 10px;
  }
  .header img {
    height: 60px;
    line-height: 60px;
  }
}
